**
!app/**
!bootstrap/**
!config/**
!database/migrations/**
!database/seeders/DatabaseSeeder.php
!public/**
!resources/**
!routes/**
!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!.npmrc
!.gitignore
!vite.config.js
!docker/windows/**
bootstrap/cache/**
public/build/**
public/hot
public/storage
public/fonts-manifest.dev.json
**/.env*
**/*.sql
**/*.sql.gz
